/* Remyha Valeriia */
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #261e1c;
  scroll-behavior: smooth;
  --title-color: #ffffff;
  --subtext-color: #898082; /* Remyha Valeriia */
  --calligraphy-color-text: #c8693a; /* Vita Maksymchenko */

  --font-regular: "Rubik", sans-serif;
  --font-calligraphy: "Great Vibes", cursive; /* каліграфічний шрифт Vita Maksymchenko */
  --font-header: "Prata", serif;

  /*Pavlo Naichuk */
  --color-button-primary: #d57136;
  --color-surface-dark: #1d1512;
  --color-text-light: #aaa;
  --font-display: "Playfair Display", serif;
  --overlay-dark: rgba(0, 0, 0, 0.7);
  --box-shadow-dark: 0 0 20px rgba(0, 0, 0, 0.6);
  /*Pavlo Naichuk */

  /*Ogorodnik Adam */
  --ui-brand-color: #c8693a;
  --ui-brand-color-hover: #a05630;
  --title-color-hover: #e9e9e9;
  /*Ogorodnik Adam */

  --color-button-pressed: #b0542c;

  /*Jevlentjev Oksana*/
  --header-height: 100px; /* Висота хедера */
  --black-transparent: rgba(0, 0, 0, 0.6); /* Чорний колір з прозорістю 60% */

  --navbar-padding-y: 30px; /* Внутрішній відступ зверху та знизу */
  --navbar-padding-x: 40px; /* Внутрішній відступ зліва та справа */

  --logo-width: 176px; /* Ширина логотипа */
  --logo-height: auto; /* Висота логотипа — автоматична */
  --logo-padding-left: 20px;

  --navbar-gap: 45px; /* Відстань між меню та іконками */
  --navbar-padding-right: 20px; /* Відступ справа в блоці з іконками */
  --navbar-icons-gap: 15px; /* Відстань між іконками соцмереж */

  --navbar-menu-gap: 20px; /* Відстань між пунктами меню */
  --navbar-font-size: 14px; /* Розмір шрифту в меню */
  --menu-font-weight: 500; /* Товщина шрифту меню */
  --menu-color: #ffffff; /* Колір пунктів меню */

  --link-color: #ffffff; /* Колір текстових посилань */
  --icon-size: 26px; /* Розмір SVG-іконок */
  --icon-default-color: #ffffff; /* Базовий колір іконок */
  /*--ui-brand-color-hover: #a05630;*/

  --container-max-width: 1440px; /* максимальна ширина сайту */
  --container-padding: 0 40px; /* Внутрішні відступи зліва/справа */

  --navbar-inner-width: 1200px; /* Максимальна ширина navbar */

  /*--font-regular: "Rubik", sans-serif;*/
}
