.history-wine-video {
    display: flex;
    background-image: url(../img/index/grey-glass.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 840px;   
    justify-content: center;
    margin: auto;    
    flex-direction: column; 

    .history-wine-video__content {
        display: flex;
        padding: 0 24px;
        max-width: 1200px;
        margin: auto;
        flex-direction: column;
                
        @media (min-width: 768px){
            flex-direction: row;
        }

        .history-wine-video__discription-conteiner {  
            max-width: 400px;
            padding: 0 15px;   

            .history-wine-video__title {
                font-family: var(--font-calligraphy);
                font-size: 14px;
                color: var(--calligraphy-color-text);
            }

            .history-wine-video__dictum {
                font-family: var(--font-header), serif;
                font-size: 58px;
                color: var(--title-color);
                margin: 0px;
            }

            .history-wine-video__divider {
                margin-top: 35px;
            }

            .history-wine-video__description {
                font-family: var(--font-regular), sans-serif;
                color: #f2efe9;
                margin-top: 20px;
            }

            .history-wine-video__watch-youtube {
                color: var(--title-color);    
                font-size: 15px;
                font-family: var(--font-regular), sans-serif;
                margin-top: 35px;

                .history-wine-video__link-youtube {
                    text-decoration: none;
                    color: var(--title-color);
                    font-size: 15px;
                    font-family: var(--font-regular), sans-serif;
                }

                .history-wine-video__arrow {
                    width: 24px;
                }
            }
        }

        .history-wine-video__video-conteiner {

            .video {

                .video__player
                {
                    width: 100%;
                    margin-top: 50px;;
                    /* visibility: hidden; потрібно розкоментувати коли на конпку прикріплю js */ 
                }

                .video__button-play-icon{
                    width: 50px;
                    color: var(--calligraphy-color-text);
                    fill: var(--calligraphy-color-text);
                }

                .video__lable{
                    color: var(--title-color);
                    font-family: var(--font-regular);
                    font-size: 14px;
                }
            }
        }
    }
}