.timeless {
    display: block;
    position: relative;  
}

.timeless__section {
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    z-index:auto;
    background-image: url("../img/index/timeless-classic-bg.jpg");
    background-color: var(--background-color);
}
    
.timeless__text__section {
    display: block;
    flex-basis: 100%;
    min-width: 320px;
    position: relative;
    padding-bottom: 110px;
    padding-top: 110px;
    z-index: 1;
}

.timeless__text__block1 {
    display: block;
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.timeless__text__block3 {
    display: flex;
    justify-content: center;
}

.timeless__text__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.timeless__left__side {
    display: flex;
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
}

.timeless__left__column {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;

}

.timeless__right__side {
    display: flex;
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
}

.timeless__right__column {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
    max-width: 100%;
}

.timeless__subtitle__text{
    font-family: var(--font-calligraphy);
    font-size: 28px;
    font-style: normal; 
    font-weight: 400;
    color: var(--calligraphy-color-text);
}

.timeless__divider {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-top: 25px;
    overflow: hidden;
    justify-content: flex-start;

}

.timeless__picture {
    max-width: 100%;
    min-height: 32px ;
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.timeless__title {
    color: var(--title-color);
    font-family: var(--font-header);
    font-size: 48px;
    overflow-wrap:break-word;
}

.timeless__description {
    color: var(--title-color);
    font-family: var(--font-regular);
    font-size: 18px;
    overflow-wrap:break-word;
    position: relative;
    display: block;
    margin-top: 20px;
    max-width: 100%;
    word-wrap: break-word;
    line-height: 30.6px;
}

.timeless__category {
    position: relative;
    box-sizing: border-box;
    display: block;
    justify-content: flex-start;
    margin-top: 25px;
    max-width: 100%;
    color: var(--title-color);
    font-family: var(--font-header);
    font-size: 22px;
}

.timeless__category__block {
    line-height: 33px;
    text-align: left;
}

.timeless__category-text {
    color: var(--title-color);
    font-family: var(--font-header);
}

.timeless__list {
    position: relative;
    box-sizing: border-box;
    display: block;
    justify-content: flex-start;
    margin-top: 20px;
    max-width: 100%;

}

.timeless__list__block {
    display: block;
    box-sizing: border-box;
}


.timeless__list__content {
    color: var(--subtext-color);
    font-size: 16px;
    font-family: var(--font-regular);
}

.timeless__list__pin{
    color: var(--calligraphy-color-text);
    font-size: 16px;
}

@media (max-width: 767px) {
    .timeless__section{
        background-image:none;
    }
    .timeless__subtitle * {
        font-size: 14px;
    }
    .timeless__title * {
        font-size: 34px;
        text-align: left;
    }
    .timeless__right__side{
        margin-top: 50px;
    }       
    .timeless__right__column {
        text-align: left;
    }
    .timeless__text__inner{
        width: calc(100% + var(--w-grid-gap));
        margin-left: calc(var(--w-grid-gap) / -2);
        margin-right: calc(var(--w-grid-gap) / -2);
    }
    .timeless__subtitle__text{
        letter-spacing: calc(var(-0.02 * 1em));
    }   
}
