.timeless-classic {
    display: block;
    min-width: 320px;
    flex-basis: 100%;
    position: relative;
    box-sizing: border-box;
    background: url("../img/index/timeless-classic-bg.jpg") no-repeat center center / cover;
    background-color: var(--background-color);
    background-size: cover;
    background-position: left;
    min-height: 900px;
    padding-top: var(--w-section-vertical-offset);
    padding-bottom: var(--w-section-vertical-offset);
}

.timeless-classic__background {
    display: block;
    margin: auto;
    max-width: 1200px;
}
.timeless-classic__text__section {
    display: flex;
    flex-basis: 100%;
    min-width: 320px;
    position: relative;
    box-sizing: border-box;
}


.timeless-classic__left__side {
    display: flex;
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.timeless-classic__left__column {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    
}

.timeless-classic__right__side {
    display: flex;
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
}

.timeless-classic__right__column {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;

}


.timeless-classic__subtitle {
    font-family: var(--font-calligraphy);
    font-size: 28px;
    font-style: normal;
    color: var(--brown-color-text);

}

.timeless-classic__title {
    color: var(--white-color-title);
    font-family: var(--font-header);
    font-size: 34px;
}

.timeless-classic__description {
    color: var(--white-color-title);
    font-family: var(--font-regular);
    font-size: 18px;
}

.timeless-classic__category-title {
    color: var(--white-color-title);
    font-family: var(--font-header);
    font-size: 22px;
}

.timeless-classic__item {
    color: var(--grey-color-text);
    position: relative;
    font-size: 16px;
    padding-left: 25px;
    margin-bottom: 12px;
    display: block;
    position: relative;
    font-family: var(--font-regular);
}

.timeless-classic__item::before {
    /* Псевдо-елемент для тире */
    content: "\2014";
    color: var(--brown-color-text);
    font-size: 16px;
}

.timeless-classic__list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    font-family: var(--font-regular);
    font-weight: 400;
}