.wine-benefits {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-benefits__label {
  font-size: 21px;
  letter-spacing: normal;
  color: var(--brown-color-text);
  margin-top: 24px;
  margin-bottom: 16px; 
  font-family: var(--font-calligraphy);
  justify-content: center;
}

.wine-benefits__title {
  font-size: 41px;
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 0px;
  font-family: var(--font-header);
  text-align: center;
  box-sizing: border-box;
  line-height: 53.3px;
}

.wine-benefits__icon {
  margin: 0 auto 25px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  min-height: 32px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.wine-benefits__description {
  font-size: 18px;
  margin-bottom: 0px;
  color: var(--title-color);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: var(--font-regular);
}

.wine-benefits__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 20px auto 0;
  align-items: end;
}

.wine-benefits__image {
  max-width: 300px;
  height: auto;
  display: block;
  margin: -20px auto 0;
  align-self: end;
}

.wine-benefits__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wine-benefits__item {
  text-align: left;
}

.wine-benefits__item-title {
  color: var(--title-color);
  font-size: 22px;
  position: relative;
  font-family: var(--font-header);
}

.wine-benefits__item-title::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #d9743f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wine-benefits__item-text {
  font-size: 16px;
  color: var(--subtext-color);
  font-family: var(--font-regular);
  line-height: 1.6;
}

/* 🔽 АДАПТИВНІСТЬ */

/* 2 колонки: зображення + одна колонка переваг */
@media screen and (max-width: 1100px) {
  .wine-benefits__content {
    grid-template-columns: 1fr 1fr;
  }

  .wine-benefits__image {
    max-width: 240px;
  }
}

/* 1 колонка: все йде підряд */
@media screen and (max-width: 800px) {
  .wine-benefits__content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .wine-benefits__image {
    margin-bottom: 20px;
  }

  .wine-benefits__list {
    align-items: center;
  }

  .wine-benefits__item {
    text-align: center;
  }

  .wine-benefits__item-title::after {
    margin-left: auto;
    margin-right: auto;
  }
}