.best-deals {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 90px 0;

  .best-deals__text-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 50px;

    .best-deals__subtitle {
      font-family: var(--font-calligraphy);
      color: var(--calligraphy-color-text);
      font-size: 14px;

      @media (min-width: 767px) {
        font-size: 21px;
      }

      @media (min-width: 992px) {
        font-size: 28px;
      }
    }

    .best-deals__title {
      font-family: var(--font-header);
      color: var(--title-color);
      font-size: 34px;

      @media (min-width: 767px) {
        font-size: 41px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
      }
    }

    .best-deals__divider {
      margin: auto;
    }

    .best-deals__description {
      font-family: var(--font-regular);
      color: var(--title-color);
      font-size: 18px;
      line-height: 35px;
    }
  }

  .best-deals-carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    .best-deals-carousel__track {
      list-style: none;
      display: flex;
      gap: 50px;
      padding: 0 20px;
      width: 100%;

      .best-deals-carousel__slide {
        text-align: center;

        .best-deals-carousel__link {
          text-decoration: none;
          color: var(--title-color);

          .best-deals-carousel__image {
            width: 100%;
            height: auto;
          }

          .best-deals-carousel__name {
            margin: 8px 0 0 0;
            font-size: 18px;
            font-family: var(--font-regular);

            @media (min-width: 480px) {
              font-size: 19px;
            }

            @media (min-width: 992px) {
              font-size: 20px;
            }
          }
        }

        .best-deals-carousel__price {
          margin: 16px 0 0 0;
          color: var(--title-color);
          font-size: 20px;
          font-family: var(--font-regular);
          font-weight: bold;
        }

        .best-deals-carousel__add-to-cart {
          margin: 24px auto 0;
        }
      }
    }

    .best-deals-carousel__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.4);
      border: none;
      font-size: 28px;
      color: var(--title-color);
      cursor: pointer;
      z-index: 10;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      backdrop-filter: blur(4px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .best-deals-carousel__button--prev {
      left: 10px;
    }
    
    .best-deals-carousel__button--next {
      right: 10px;
    }
    
    @media (min-width: 769px) {
      .best-deals-carousel__button {
        position: static;
        transform: none;
        transform: none;
        background: none;
        width: auto;
        height: auto;
        border-radius: 0;
        backdrop-filter: none;
      }
    }    
    
  }
}

.best-deals-carousel__nav {
  display: flex;
  margin: 20px 0 0 0;
  gap: 10px;
  justify-content: center;

  .best-deals-carousel__indicator {
    width: 10px;
    height: 10px;
    border-radius: 45px;
    border: none;
    opacity: 0.25;
    background-color: var(--title-color);
    transition: all 0.3s ease-in;

    &.best-deals-carousel__indicator--active {
      opacity: 1;
      transform: scale(1.2);
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}
