<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="shortcut icon"
    href="img/global/favicon.png"
    type="image/x-icon"/>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">  <!-- Valeriia Remyha -->
  </head>
<body>
</body>
    <link
      rel="shortcut icon"
      href="img/global/favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Oksana Jevlentjev -->
    <header 
      style="
        background: url('img/global/background-image.jpeg') no-repeat center
          center/cover;
          height: 100vh;
          width: 100%;
">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <!-- End Oksana Jevlentjev -->

    <main>
      <!-- Serhii Starykov -->
      <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.boutique-wines.partial.html"
    ></section>

      <!-- Valeriia Remyha -->
      <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.wine-peculiarities.partial.html"
    ></div>
      <!--End Valeriia Remyha -->
      
      <!-- Inna Panchenko -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.wine-benefits.partial.html"
      ></div>
      <!-- End Inna Panchenko -->
       
      <!-- Lekhiv Oleh -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.best-deals.partial.html"
      ></section>
      <!-- End Lekhiv Oleh -->

      <!-- Pavlo Naichuk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.history.partial.html"
      ></section>
      <!-- End Pavlo Naichuk -->

      <!-- Vita Maksymchenko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.timeless-classic.partial.html"
      ></section>
      <!-- End Vita Maksymchenko -->

      <!-- Lekhiv Oleh -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.craft-wines.partial.html"
      ></section>
      <!-- End Lekhiv Oleh -->

      <!-- Adam Ogorodnik -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.discovery-section.partial.html"
      ></section>
      <!-- Adam Ogorodnik -->

      <!-- Bohdan Pustovar -->
       <section class="history-wine-video"
         data-hx-trigger="load"
         data-hx-swap="outerHTML"
         data-hx-get="index.history-wine-video.partial.html"
       ></section>
      <!-- End Bohdan Pustovar -->

      <!-- Artem Nykyforuk -->
       <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-wines-pride.partial.html"
      ></section>
      <!-- End Artem Nykyforuk -->
              
      <!-- Vasyl Plaksiy -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials.partial.html"
      ></section>
      <!-- End Vasyl Plaksiy -->

      <!-- Oleh Pidhaietskiy -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.wines-cards.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.discount.partial.html"
      ></section>
      <!-- End Oleh Pidhaietskiy -->

      <!-- Maksym Mizerniy -->
       <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.faq-and-benefits.partial.html"
       ></section>
      <!-- End Maksym Mizerniy-->
       
      <!-- Lilia Pinchuk -->
       <section
       data-hx-trigger="load"
       data-hx-swap="outerHTML"
       data-hx-get="index.shopping-cart.partial.html"
     ></section>
     <!-- End Lilia Pinchuk -->

    </main>
    <!-- Pavlo Naichuk -->
    <div
      id="age-check"
      data-hx-trigger="load"
      data-hx-get="index.age-gate.partial.html"
      data-hx-swap="beforeend"
    ></div>

    <script>
      if (localStorage.getItem("ageVerified") !== "true") {
        const ageDiv = document.createElement("div");
        ageDiv.id = "age-check";
        ageDiv.setAttribute("data-hx-trigger", "load");
        ageDiv.setAttribute("data-hx-get", "index.age-gate.partial.html");
        ageDiv.setAttribute("data-hx-swap", "beforeend");
        document.body.appendChild(ageDiv);
      }
    </script>
    <!-- End Pavlo Naichuk -->
  </body>
</html>
